.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  padding: 0 14px;
}

.sidenavMy {
  width: 350px;
}
.mat-toolbar.mat-primary {
  background: linear-gradient(60deg, #56ab2f, #a8e063);
  color: #fff;
}
.container-fluid {
  padding: 0px;
}

.flex-fill {
  flex: 1 1 auto;
}
.example-card {
  height: 100%;
}

@media only screen and (max-height: 1024px) {
  .example-card {
    height: 100%;
  }
}
@media only screen and (max-height: 823px) {
  .example-card {
    height: 100%;
  }
}
@media only screen and (max-width: 667px) {
  .example-card {
    height: 640px;
  }

  mat-card-header {
    margin-left: -6%;
  }
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.card-1 {
  background: #2980b9;
  color: #fff;
}
.card-2 {
  color: #fff;
  background: #2ecc71;
}
.card-3 {
  color: #fff;
  background: #3498db;
}
.card-4 {
  background: #1abc9c;
  color: #fff;
}

mat-grid-list {
  margin-left: 3%;
}

.carousel-caption {
  color: black;
}
